/* Carousel */
.carousel-inner{
    width: 100%; 
    height: 40rem; 
    /* This ensures the image maintains its aspect ratio */
    object-fit: cover; 
  }

/* Text Below */
.subHeading h3{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 8%;
    font-weight: 300;
    color: rgb(186, 162, 67);
}

/* Upcoming Events Section*/
.upcoming-events{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: 300;
    color: rgb(186, 162, 67);
    padding-bottom:  10rem;
}

.upcoming-events button {
    background-color: #585b5dc4;
    border-radius: 1rem;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a transition for smooth color change */
}

.upcoming-events button:hover {
    background-color: rgb(200, 171, 56); /* Update with your desired hover color */
}

/* Restaurant info section */
.restaurant {
    background-image: url('https://i.imgur.com/QKGo2yK.pngg'); /* Replace with the path to your image */
    background-size: cover; /* Adjust to control how the image covers the container */
    background-position: center; /* Adjust to control the position of the image in the container */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    height: 40rem; /* Set the height of the container */
    display: flex;
    justify-content: center; /* Center the text horizontally */
    align-items: center; /* Center the text vertically */
    color: white; /* Set the text color to be visible on the image */
    font-size: 36px; /* Adjust the font size as needed */
  };

/* Schedule Section */
/* .black-rectangle {
    background-color: rgba(0, 0, 0, 0.897);
    width: 55rem;
    height: 30rem;
} */

/* .flex-container { */
    /* padding: 10rem 0 0 0; */
    /* margin-bottom: 20rem; */
    /* display: flex;
    justify-content: flex-end; 
    height: 100vh;  */

/* .black-rectangle h1{
    margin-top: 2rem;
    color: rgb(186, 162, 67);
} */

/* .black-rectangle h3{
    color: rgb(186, 162, 67);
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
} */

/* .schedule img{ */
    /* display: flex; */
    /* justify-content: flex-end; */
    /* width: 30rem; */
    /* height: 17rem; */
    /* margin-top: -22rem; */
    /* margin-right: 20rem; */
    /* padding-right: 15rem; */
/* } */

/* .schedule {
    padding-right: 20rem;
} */